
<style>
@import url('https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Pacifico');
</style>

body {
text-align: center;
}

h1 {
font-family: 'Pacifico', cursive;
    color: rgb(212, 6, 6);
    text-align: center;
    font-size: 80px;
}
h2 {
font-family: 'Pacifico', cursive;
text-align: center;
}
h3 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 30px;
}
p {
  font-family: 'Abel', sans-serif;
  text-align: center;
}

div {
  height:400px;
  width: 400px;
  background-size: cover;
  margin: auto;
  border-radius: 12px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding:  0 4px;

}

li {
  font-family: 'Amatic SC', cursive;
  display: inline;
  color: rgb(212, 6, 6);
}

ul {
  list-style-type: none;
  font-size: 25px;
  margin: 0;
  padding: 0;
  color: rgb(212, 6, 6);
}

a {
  color: inherit;
}

input {
    border: 10;
    padding: 5px;
    font-size: 18px;
    font-family: arial;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"] {
    background: red;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

input[type="email"] {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

form {
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.header {
    background-color: rgba(63, 127, 191, 0.61);
    text-align: center;
    height:auto;
    width: auto;
    padding: 10px;
}

.first  {
    background-image: url("https://i.imgur.com/Cc0rXfL.jpg");
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    padding: auto;
    color: rgb(255, 255, 255)

}

.second {
    background-image: url("https://i.imgur.com/7zYB0vd.jpg");
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    padding: auto;
    color: rgb(255, 255, 255)
}

.third  {
    background-image: url("https://i.imgur.com/ktOhZwA.jpg");
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    padding: auto;
    color: rgb(255, 255, 255)
}
